.data-container {
  margin: 5%;
  position: inherit;
  z-index: 3;
  height: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.data-header {
  position: fixed;
  width: 100%;
}
.data-body {
  margin: 70px 0 0 0;
  width: 100%;
  height: 70%;
  position: relative;
  overflow-y: scroll;
}
.scroll-data {
  width: 100%;
  height: 100%;
}
.data-body section {
  display: flex;
  flex-direction: column;
}
.data-body span {
  text-decoration: underline;
  line-height: 25px;
}
