@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.main_body {
  background-color: #c8cac84b;
  color: #ffcb9a;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* font-family: "Bebas Neue", cursive; */
  font-family: "Amatic SC", cursive;
}
.header {
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  width: 99%;
  padding: 20px 0;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
p {
  margin: 0 30px;
  font-size: 20px;
}
a {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: #ffcb9a;
}
a p {
  margin: 0 10px;
}
.content {
  border-top: 2px dotted black;
  border-bottom: 2px dotted black;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
  margin: 5px;
  letter-spacing: 5px;
}
.btn {
  border-radius: 6px;
  margin: 20px;
  width: 200px;
  height: 70px;
  cursor: pointer;
  font-size: 15px;
  font-family: "Amatic SC", cursive;
  letter-spacing: 5px;
  font-size: 18px;
}
.phone {
  display: flex;
  flex-direction: column;
  margin: 0 30px 0 0;
  font-size: 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 40px;
  margin: 0;
  animation: bounce 1s infinite linear;
}
@keyframes bounce {
  0% {
    margin: 0;
  }
  50% {
    margin: 20px 0 0;
  }
  100% {
    margin: 0;
  }
}
