@import url("https://fonts.cdnfonts.com/css/sf-distant-galaxy");

body {
  background-color: #1e1e1e;
  font-family: "SF Distant Galaxy", sans-serif;
  /* font-family: 'SF Distant Galaxy AltOutline', sans-serif;
font-family: 'SF Distant Galaxy Alternate', sans-serif;
font-family: 'SF Distant Galaxy Outline', sans-serif;
font-family: 'SF Distant Galaxy Symbols', sans-serif; */
}
