@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  font-family: "Special Elite", cursive;
}
a {
  color: black;
}
html,
body {
  background: lighten(#bfac97, 17%);
  width: 100%;
  height: 100%;
}
.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 601px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
