.work_content {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  /* два парметра ниже вместо ROW чтобы сделать скролл */
  flex-wrap: wrap;
  flex-direction: column;
}
.work_content::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.all_data::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.project_card {
  width: 100%;
  height: 100%;

  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 1%;
  padding: 2%;
}
.project_card span {
  display: inline-block;
  background-color: #70706983;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

.img_back {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* filter: blur(3px);
  position: relative;
  z-index: 2; */
}
.span_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.text_box {
  position: relative;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(30px);
  transition: 100ms backdrop-filter linear;
}
.text_box:hover {
  backdrop-filter: none;
}
.text {
  position: absolute;
  background-color: #f1f9fc91;
  bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: rgb(8, 144, 255);
  padding: 10px;
}
.text p {
  margin: 0 0 10px 0;
}
.text h1 {
  margin: 0 0 10px 0;
}
.link a {
  font-size: 35px;
  font-weight: 500;
  line-height: 100px;
  color: rgb(8, 144, 255);
}
